/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.8.6-MariaDB, for debian-linux-gnu (aarch64)
--
-- Host: localhost    Database: clubmanager
-- ------------------------------------------------------
-- Server version	11.8.6-MariaDB-0+deb13u1 from Debian

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Dumping data for table `alertes_types`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `alertes_types` WRITE;
/*!40000 ALTER TABLE `alertes_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `alertes_types` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping data for table `categories`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping data for table `genres`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `genres` WRITE;
/*!40000 ALTER TABLE `genres` DISABLE KEYS */;
INSERT INTO `genres` VALUES
(1,'Homme','M','Male',1,1,'2026-07-22 21:55:20'),
(2,'Femme','F','Female',2,1,'2026-07-22 21:55:20'),
(3,'Autre','autre','Other',3,1,'2026-07-22 21:55:20'),
(4,'Non sp├®cifi├®','non_specifie','Not specified',4,1,'2026-07-22 21:55:20');
/*!40000 ALTER TABLE `genres` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping data for table `grades`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `grades` WRITE;
/*!40000 ALTER TABLE `grades` DISABLE KEYS */;
INSERT INTO `grades` VALUES
(1,'Blanche',0,'#FFFFFF'),
(2,'Bleue',1,'#0000FF'),
(3,'Violette',2,'#800080'),
(4,'Marron',3,'#8B4513'),
(5,'Noire',4,'#000000'),
(6,'Rouge et Noire',5,'#FF0000'),
(7,'Rouge',6,'#FF0000');
/*!40000 ALTER TABLE `grades` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping data for table `message_status`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `message_status` WRITE;
/*!40000 ALTER TABLE `message_status` DISABLE KEYS */;
/*!40000 ALTER TABLE `message_status` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping data for table `methodes_paiement`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `methodes_paiement` WRITE;
/*!40000 ALTER TABLE `methodes_paiement` DISABLE KEYS */;
/*!40000 ALTER TABLE `methodes_paiement` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping data for table `plans_tarifaires`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `plans_tarifaires` WRITE;
/*!40000 ALTER TABLE `plans_tarifaires` DISABLE KEYS */;
INSERT INTO `plans_tarifaires` VALUES
(1,'Mensuel Classique','Abonnement mensuel de base',29.99,1,1,'2026-07-23 09:12:54','2026-07-23 09:12:54'),
(2,'Trimestriel','Abonnement 3 mois',79.99,3,1,'2026-07-23 09:12:54','2026-07-23 09:12:54'),
(3,'Annuel','Abonnement annuel',249.99,12,1,'2026-07-23 09:12:54','2026-07-23 09:12:54');
/*!40000 ALTER TABLE `plans_tarifaires` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping data for table `roles_familial`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `roles_familial` WRITE;
/*!40000 ALTER TABLE `roles_familial` DISABLE KEYS */;
INSERT INTO `roles_familial` VALUES
(1,'parent','Parent','Parent','blue',1,1,'2026-07-22 21:55:20','2026-07-22 21:55:20'),
(2,'tuteur','Tuteur l├®gal','Legal guardian','purple',2,1,'2026-07-22 21:55:20','2026-07-22 21:55:20'),
(3,'enfant','Enfant','Child','green',3,1,'2026-07-22 21:55:20','2026-07-22 21:55:20'),
(4,'conjoint','Conjoint','Spouse','info',4,1,'2026-07-22 21:55:20','2026-07-22 21:55:20'),
(5,'autre','Autre','Other','neutral',5,1,'2026-07-22 21:55:20','2026-07-22 21:55:20');
/*!40000 ALTER TABLE `roles_familial` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping data for table `roles_utilisateur`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `roles_utilisateur` WRITE;
/*!40000 ALTER TABLE `roles_utilisateur` DISABLE KEYS */;
INSERT INTO `roles_utilisateur` VALUES
(1,'admin','Administrateur','Administrator','danger',100,1,1,'2026-07-22 21:55:20','2026-07-22 21:55:20'),
(2,'professor','Professeur','Professor','purple',50,2,1,'2026-07-22 21:55:20','2026-07-22 21:55:20'),
(3,'member','Membre','Member','success',10,3,1,'2026-07-22 21:55:20','2026-07-22 21:55:20'),
(4,'parent','Parent','Parent','info',10,4,1,'2026-07-22 21:55:20','2026-07-22 21:55:20');
/*!40000 ALTER TABLE `roles_utilisateur` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping data for table `status`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `status` WRITE;
/*!40000 ALTER TABLE `status` DISABLE KEYS */;
INSERT INTO `status` VALUES
(1,'Actif','Utilisateur ou entit├® active'),
(2,'Inactif','Utilisateur ou entit├® inactive'),
(3,'Suspendu','Utilisateur ou entit├® suspendu temporairement'),
(4,'En attente','En attente de validation ou traitement'),
(5,'Archiv├®','Archiv├® et non utilis├®');
/*!40000 ALTER TABLE `status` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping data for table `statuts_commande`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `statuts_commande` WRITE;
/*!40000 ALTER TABLE `statuts_commande` DISABLE KEYS */;
/*!40000 ALTER TABLE `statuts_commande` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping data for table `statuts_echeance`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `statuts_echeance` WRITE;
/*!40000 ALTER TABLE `statuts_echeance` DISABLE KEYS */;
INSERT INTO `statuts_echeance` VALUES
(1,'en_attente','En attente','Pending','warning',1,0,1,'2026-07-22 21:55:20','2026-07-22 21:55:20'),
(2,'paye','Pay├®','Paid','success',2,1,1,'2026-07-22 21:55:20','2026-07-22 21:55:20'),
(3,'en_retard','En retard','Overdue','danger',3,0,1,'2026-07-22 21:55:20','2026-07-22 21:55:20'),
(4,'annule','Annul├®','Cancelled','neutral',4,1,1,'2026-07-22 21:55:20','2026-07-22 21:55:20');
/*!40000 ALTER TABLE `statuts_echeance` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping data for table `statuts_paiement`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `statuts_paiement` WRITE;
/*!40000 ALTER TABLE `statuts_paiement` DISABLE KEYS */;
/*!40000 ALTER TABLE `statuts_paiement` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping data for table `types_cours`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `types_cours` WRITE;
/*!40000 ALTER TABLE `types_cours` DISABLE KEYS */;
/*!40000 ALTER TABLE `types_cours` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Dumping data for table `types_messages_personnalises`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `types_messages_personnalises` WRITE;
/*!40000 ALTER TABLE `types_messages_personnalises` DISABLE KEYS */;
/*!40000 ALTER TABLE `types_messages_personnalises` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-09-03 19:15:06
